<div class="card mb-4 ">
  <div class=" card-body  " [ngClass]="{'alert-success':true,
                            'alert-success': computeLoveIts() > 0,
                            'alert-warning': computeLoveIts() < 0}">
    <h2 class="card-title  "> {{postTitle}} </h2>
    <p class="card-text">{{postCreatedDate | date:'dd/MM/yy HH:mm'  }}</p>
    <p class="card-text">{{postContent}}</p>
    <a href="#" class="btn btn-primary">Read More &rarr;</a>
  </div>
  <div class="card-footer text-muted">
    Posted on  by
    <a href="#">Start Bootstrap</a>
    <p><button class="btn btn-outline-success "
    (click)="onAddLike()"
    (click)="computeLoveIts()">Like  </button>
      <button class="btn btn-outline-danger" (click)=" onDisLike()"
              (click)="computeLoveIts()">disLike</button>
    </p>
  </div>
</div>
